/*
// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 *= require_self
*/

header
{
	/*background-color: #838C65;*/
	background-color: #FEF0DD;		
	margin-top: 20px;
	/*background-image: url("shadow_middle_bottom.png");*/
	background-position: center bottom;
	background-repeat: no-repeat; 
}
