<!DOCTYPE html>
<html>
<head>
  <title>Wikitrip</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <header>
    <nav>
     <ul class="nav nav-pills">
       <li class="active">
         <a href="#">Wikitrip</a>
       </li>
       <li><a href="#"></a>PinUp</li>
       <li><a href="#"></a></li>
     </ul>
    </nav>
  </header>

  <%= yield %>
<div>
</body>
</html>
